
/* Base layout for all pages*/
/*Note: colors and aesthetic styling not considered yet. 
Colors currently used to show different elems*/
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

div {
    background-color: green;
    border-color: plum;
    border-style: solid;
    border-width: 5px;
    width:100%;
}

/*navbar style*/

.navbar {
    background-color: rgb(10, 180, 10);
    position:fixed;
    width: 100%;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: orangered;
  }

li {
    display: inline;
    width: 100%;
    padding: 10px;
}

a {
    display: inline;
    width: 100%;
    text-decoration: none;
}

a.self_ref {
    background-color: rgb(207, 58, 4);
}

a:hover {
    background-color: rgb(207, 58, 4);
}

/* Breadcrumb styles */

.crumbbtn {
    background-color: rgb(245, 129, 87);
    border: none;
    padding-block: 2px;
}

.breadcrumbs {
    display: none;
    position: absolute;
    z-index: 1;
}

.breadcrumb:hover .breadcrumbs {
    display:block;
}

.breadcrumbs a {
    display: block;
}

/*homepage styles*/
.head {
    width: 100%;
    height: 400px;
    background-image: url("george_picture.jpg");
}

.banner{
    text-decoration: underline;
    font-size: 19pt;
    font-family: "Comic Sans MS", Comic, sans-serif;
    color: yellow;
}

.subbanner{
    text-decoration: underline;
    font-size: large;
    color: #bdd122;
}

.segment{
    width: 75%
}

.post{
    background-color: purple;
}

.title{
    font-size: 15pt;
}

.date{
    font-size: 8pt;
}

/*article page styles*/

.post_article{
    width: 75%;
    color: white;
}

@media screen and (max-width: 600px) {
    /* for phone screens */


}